@use "../libs/vars/widthVars";
@use "../libs/mixins/mediaMixins";

.company {
  padding: 0 widthVars.$contentSidePadding;
  width: 100vw;

  &__content {
    margin: 0 auto;
    max-width: widthVars.$contentMaxWidth;
  }

  &__sectionTitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.1;
  }

  &__definitionList {
    margin-top: 30px;
    max-width: 650px;
  }

  &__definitionWrap {
    display: flex;
    border-bottom: 1px solid #dcdbdb;
    font-size: 14px;
    line-height: 1.5;
    padding: 20px 0;

    @include mediaMixins.media {
      flex-direction: column;
      gap: 10px;
    }
  }

  &__definitionTerm {
    width: 30%;
  }

  &__definitionDes {
    width: 70%;
  }
}
