@use '../libs/vars/widthVars';
@use '../libs/mixins/mediaMixins';

.footer {
  padding: 0 widthVars.$contentSidePadding;
  width: 100vw;

  &__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: widthVars.$contentMaxWidth;
    padding: 20px 0;

    @include mediaMixins.media {
      align-items: flex-start;
      flex-direction: column;
      gap: 10px;
      justify-content: center;
    }
  }

  &__lists {
    align-items: center;
    display: flex;
    gap: 30px;
  }

  &__link {
    color: #333;
    font-size: 12px;
    line-height: 1.2;
    text-transform: uppercase;
  }

  &__copyright {
    color: #333;
    font-size: 10px;
    line-height: 1.1;
  }
}
