@use "../libs/vars/widthVars";
@use "../libs/mixins/mediaMixins";

.productDetail {
  padding: 0 widthVars.$contentSidePadding;
  width: 100vw;

  &__content {
    max-width: widthVars.$contentMaxWidth;
    margin: 0 auto;
  }

  &__sectionTitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.1;
  }

  &__infoWrap {
    max-width: 80%;
    margin-top: 30px;
    display: flex;
    gap: 60px;
  }

  &__image {
    width: 400px;
    height: 400px;
    display: block;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__des {
    font-size: 14px;
    line-height: 2;
  }

  &__price {
    font-size: 12px;
    line-break: 1.7;
  }

  &__descriptionList {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__descriptionWrap {
    display: flex;
    font-size: 12px;
    line-height: 1.7;
  }

  &__term {
    width: 30%;
  }

  &__linkWrap {
    text-align: center;
    margin: 60px 0;
  }

  &__link {
    color: #333333;
    line-height: 1;
  }
}
