@use '../libs/vars/widthVars';
@use '../libs/mixins/mediaMixins.scss';

.products {
  padding: 0 widthVars.$contentSidePadding;
  width: 100vw;

  &__content {
    margin: 0 auto;
    max-width: widthVars.$contentMaxWidth;
  }

  &__sectionTitle {
    font-size: 14px;
    font-weight: normal;
    line-height: 1.1;
  }

  &__listWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
  }

  &__productWrap {
    margin-bottom: 40px;
    width: 23%;

    @include mediaMixins.media {
      width: 48%;
    }
  }

  &__productLinkWrap {
    display: block;
  }

  &__productImage {
    aspect-ratio: 1 / 1;
    display: block;
    height: 100%;
    width: 100%;
  }

  &__infoWrap {
    color: #333;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.2;
    margin-top: 10px;
  }
}
